@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", "sans-serif";
    --font-edu: "Edu AU VIC WA NT Arrows", "cursive";
    --font-pacifico: "Pacifico", "cursive";
    --font-sourcecode: "Source Code Pro", "monospace";
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}